name: CI

on: [push, pull_request]

jobs:
  codestyle:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install poetry
      run: |
        python -m pip install --upgrade pip
        python -m pip install poetry>=1.2.0

    - name: Install dependencies
      run: poetry install

    - name: Black
      run: poetry run black poetry_release --check

    - name: Flake8
      run: poetry run flake8 poetry_release

    - name: Isort
      run: poetry run isort poetry_release --check-only

  static-analysis:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install poetry
      run: |
        python -m pip install --upgrade pip
        python -m pip install poetry>=1.2.0

    - name: Install dependencies
      run: poetry install

    - name: Mypy
      run : poetry run mypy
